@font-face {
    font-family: 'mohave'; /*a name to be used later*/
    src: url('../Fonts/Mohave-Typefaces/Mohave-SemiBold.otf'); /*URL to font*/
}
body {
	margin: 0;
	font-family: 'mohave', cursive;
}



.header {
	background-color: #4B77BE;
	background-size: cover;
    height: 100px;
    position: fixed;
    z-index: 9;
    top: 0;
    transition: top 0.4s ease-in-out;
    width: 100%;
 
}

.abovemain{
	padding-top: 100px;
	height: 250px;
	background-color: #4B77BE;
	overflow: hidden;
}



.main{
 	width: 100%;
 	height: 100%;
 	background-image: url(../images/17-final.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 

}


@media screen and (min-width: 1000px){
	#container{
		height: 700px;
		width: 100%;
		margin: 0 auto;
		text-align:center;

	}
}

#container{
	height: 700px;
	width: 100%;
	margin: 0 auto;
	text-align:center;
}


#about{
	margin-top: 20px;
	text-align: center;
	height: 300px;
}

#about .hi{
	color: #4B77BE;
	margin-top: 20px;
}

#about p{
	margin-top: -10px;
}

#summary{
	padding-top: 50px;
	width: 800px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

#summary .website{
	float: right;

}

#cf {
  float:left;
  position:relative;
  height:235px;
  width:181px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity .6s ease-in-out;
  -moz-transition: opacity .6s ease-in-out;
  -o-transition: opacity .6s ease-in-out;
  transition: opacity .6s ease-in-out;
}

#cf img.iphone:hover {
  opacity:0;
}



.img-description{

	margin-top: 75px;
	float:right;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;

}
/*
.iphone:hover + .img-description{
opacity: 1;
}
*/
/*secret box link!!!*/
#box-link { 
		position: absolute; 
		top: 70px; 
		left: 6px; 
		width: 100px; 
		height: 180px; 
		background-color: transparent; 
}

#box-link:hover .img-description{
	opacity:1;
}

#weeklywords{
	margin-top: 20px;
	text-align: center;
	height: 300px;
}


.center{
	width: 1000px;
	margin: 0 auto;
}

.nav-up {
    top: -100px;
}

.logo{
	float: left;
	height:65px; ;
	margin-top: 16px;
}

nav{
	float: right;
	padding-top: 38px;
}



#bootstrap-overrides .navlinks{
	color: #fff;
	font-size: 20px;
	margin-left: 25px;

	text-decoration: none;
}

#bootstrap-overrides .navlinks:hover{
	text-decoration: underline;
}

span{
	width: 100%;
}

#bootstrap-overrides h1{
	font-size: 80px;
	color: #fff;
	text-align: center;
	clear: both;
	padding-top: 20px;
}

#bootstrap-overrides h2{
	font-size: 36px;
	color: #fff;
	text-align: center;
	clear: both;
	margin-top: -60px;
}

#contactme{
	text-align: center;
	margin-top: 100px;
}

#contactme h2{
	color: #4B77BE;
	clear: both;

}

#contactme h3{
	color: #4B77BE;
	clear: both;
	margin-top: -20px;
}

#contactme p{
	color: #000000;
	clear: both;
}

/*
 * HEADER STYLE
 */

 #head{
 	width: 100%;
 	height: 350px;
 	padding-top: 100px;
	background-color: #4B77BE;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
 }


 .port{
 	height: 250px;
 	width: 300px;

 }


.pad{
 	margin-left: 50px;
 }

.one{
 	margin-top: 50px;
}

.two{
 	margin-top: 50px;
}

.three{
 	margin-top: 50px;
}

footer{
 	width: 100%;
 	height: 200px;
 	margin-top: 200px;
 	background-color: #4B77BE;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	margin-bottom: 0px;

 }


#foot{
	width: 1000px;
	height:100%;
	margin: 0 auto;
}

div.social {
	text-align:center;
	padding-top: 50px;
}

h3.smtext{
	color: #fff;
	margin-bottom: 0px;
}

.sm{
 	width: 50px;
 	height: 50px;
 }

 div.email{
 	margin-bottom: -150px;
 	text-align: center;


 }

.email > a > img{
	box-shadow: 0px 7px 2px -4px #777;
}

h3.emailtext{
	color: #fff;
	margin-bottom: 0px;
}

p.copyright{
	padding-top: 70px;
	text-align: center;
	color: #fff;
	text-decoration: none;
}

#cr{
color: inherit;
text-decoration: underline;
}








