@font-face {
    font-family: 'mohave'; /*a name to be used later*/
    src: url('../Fonts/Mohave-Typefaces/Mohave-SemiBold.otf'); /*URL to font*/
}
body {
	margin: 0;
	font-family: 'mohave', cursive;
}


.main{
 	width: 100%;
 	height: 700px;
 	background-image: url(../images/101.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}



.header {
	background-image: url(../images/101.jpg);
	background-size: cover;
    height: 60px;
    position: fixed;
    top: 0;
    transition: top 0.4s ease-in-out;
    width: 100%;
}

@media screen and (min-width: 1000px){
	#container{
		height: 700px;
		width: 100%;
		margin: 0 auto;
	text-align:center;

	}
}

#container{
	height: 700px;
	width: 100%;
	margin: 0 auto;
	text-align:center;
}



.center{
	width: 1000px;
	margin: 0 auto;
}

.nav-up {
    top: -60px;
}

.logo{
	float: left;
	margin-top: 10px;
}

nav{
	float: right;
	margin-top: 26px;
}

#bootstrap-overrides .navlinks{
	color: #fff;
	font-size: 20px;
	margin-left: 25px;
	text-decoration: none;
}

#bootstrap-overrides .navlinks:hover{
	text-decoration: underline;
}

span{
	width: 100%;
}

#bootstrap-overrides h1{
	font-size: 80px;
	color: #fff;
	text-align: center;
	clear: both;
	padding-top: 200px;
}

#bootstrap-overrides h2{
	font-size: 36px;
	color: #fff;
	text-align: center;
	clear: both;
	margin-top: -60px;
}

/*
 * HEADER STYLE
 */

 #head{
 	width: 100%;
 	height: 300px;
 	background-image: url(../images/101.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;


 }

 .portfolio{
 	padding-top: 100px;

 }

 .port{
 	height: 250px;
 	width: 300px;

 }


.pad{
 	margin-left: 50px;
 }

.one{
 	margin-top: 50px;
}

.two{
 	margin-top: 50px;
}

.three{
 	margin-top: 50px;
}

footer{

 	width: 100%;
 	height: 300px;
 	margin-top: 210px;
 	background-color: #C3272B;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	margin-bottom: 0px;

 }


#foot{
	width: 1000px;
	height:100%;
	margin: 0 auto;
}

div.social {
	float: left;
	margin-top: 20px;
}

h3.smtext{
	color: #fff;
	margin-bottom: 0px;
}

.sm{
 	width: 50px;
 	height: 50px;
 }

 div.email {
	float: right;
	margin-top: 20px;
}

h3.emailtext{
	color: #fff;
	margin-bottom: 0px;
}









